body {
    background-color: #0a0d2d;
}

/* Change the color of the text */
h2 {
    color: #f2f2f2;
}

/* Custom text in form */
label {
    color: #f2f2f2;
}

.Container {
    width: 90%;
    min-width: 500px;
    margin: auto;
}

.content {
    width: 100%;
    height: 700px;
    padding: 10px 0px;
}

.navbar-default {
    width: 100%;
    height: 70px;
}