{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}
    {{ super() }}
    Interpreter
{% endblock %}
{% block content %}
    <div class="Container">
        <div class="content">
            <div class="col-md-4">
                <h2>Try the new Funx interpreter!</h2>
                <form action="" method="post" style="padding: 1%">
                    {{ wtf.quick_form(input_form, button_map={'submit': 'primary'}) }}
                </form>
            </div>
            <div class="col-md-8">
                <h2>Declared functions:</h2>
                <div class="card">
                    <ul class="list-group list-group-flush">
                        {% for function in functions %}
                            <li class="list-group-item" style="width: 50rem; background-color: rgb(114, 242, 197);">{{ function }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-md-8">
                <div style="display: inline-block">
                    <h2>Results:</h2>
                </div>
                <div style="display: inline-block">
                    <form style="margin:5px" action="" method="post">
                    <button class="btn btn-primary" type="submit" name="reset" value="reset" onclick="confirm_click()">Reset</button>
                    <script>
                        function confirm_click() {
                            confirm("Confirm that you want to reset the console deleting all the declared functions and code / output history.");
                        }
                    </script>
                    </form>
                </div>
                <div style="display: inline-block">
                    <form style="margin:5px" action="" method="post">
                        <button class="btn btn-primary" type="submit" name="clear" value="clear">Clear</button>
                    </form>
                </div>
                <div class="card" style="width: 50rem;">
                    <ul class="list-group list-group-flush">
                        {% for line in display %}
                            {% if line.type == 'input' %}
                                <li class="list-group-item" style="background-color: rgb(139, 192, 222);">>>> {{ line.code }}</li>
                            {% elif line.type == 'output' %}
                                <li class="list-group-item" style="background-color: rgb(185, 187, 187);">{{ line.code }}</li>
                            {% elif line.type == 'error' %}
                                <li class="list-group-item" style="background-color: rgb(239, 127, 127);">Error: {{ line.code }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}