{% extends 'base.html' %}
{% block title %}
    {{ super() }}
    Interpreter
{% endblock %}
{% block content %}
    <div style="text-align: center; margin-top: 2%; color: aliceblue;">
        <h2>Thanks for taking the time to report an error!</h2>

        <h3>To do so, please write a GitHub issue <a href="https://github.com/gonzalo-cordova-pou/interpreter/issues">here</a>.</h3>
        <h3>Or, you can send us an email to <a href="mailto:gonzalo.cordova@estudiantat.upc.edu">gonzalo.cordova@estudiantat.upc.edu</a>.</h3>
        <h3>Make sure to include the following information:</h3>
        
        <ul style="text-align: left; margin-left: 30%;">
            <li>What were you doing when the error occurred?</li>
            <li>What was the input you were trying to run?</li>
            <li>What was the output you got?</li>
            <li>Include a screenshot if possible.</li>
        </ul>
        
        <p>Our team will review your report and get back to you as soon as possible.</p>
    </div>

{% endblock %}